<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<title>Edit Blood Bank</title>
</head>
<body>
	<form action="edit" method="post">  
        	<h1>Edit Blood Bank Form</h1>
            <table class="table table-hover">  
                <tr class="table-secondary">  
                    <td><label for="bbId" class="text-warning">Blood Bank Id</label></td>  
                    <td><input type="text" name="bbId" id="readOnlyInput" th:value="${obj.bbId}" readonly></input></td>  
                </tr>
                <tr class="table-secondary">  
                    <td><label for="bloodBankName" class="text-warning">Blood Bank Name</label></td>  
                    <td><input type="text" name="bloodBankName" id="readOnlyInput" th:value="${obj.bloodBankName}" readonly></input></td>  
                </tr>  
                <tr class="table-secondary">  
                    <td><label for="address" class="text-warning">Address</label></td>  
                    <td><input type="text" name="address" th:value="${obj.address}"></input></td>  
                </tr>  
                <tr class="table-secondary" >  
                    <td><label for="city" class="text-warning">City</label></td>  
                    <td><input type="text" name="city" th:value="${obj.city}"></input></td>  
                </tr>  
                <tr class="table-secondary" >  
                    <td><label for="phone" class="text-warning">Phone</label></td>  
                    <td><input type="text" name="phone" th:value="${obj.phone}"></input></td>  
                </tr>  
                <tr class="table-secondary" >  
                    <td><label for="email" class="text-warning">Email</label></td>  
                    <td><input type="text" name="email" th:value="${obj.email}"></input></td>  
                </tr>  
                <tr class="table-secondary" >  
                    <td><label for="website" class="text-warning">Web-Site</label></td>  
                    <td><input type="text" name="website" th:value="${obj.website}"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Update Blood Bank"></input></td>  
                </tr>  
            </table>  
        </form>
</body>
</html>